<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <springProfile name="local">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
    </springProfile>

    <springProfile name="prod">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <property name="LOG_PATH" value="/Users/kimminji/ming/kiworkshop/spring"/>

        <include resource="logback/info-appender.xml"/>
        <include resource="logback/warn-appender.xml"/>
        <include resource="logback/error-appender.xml"/>
        <include resource="logback/debug-appender.xml"/>

        <logger name="com.ming.kiworkshoptest" level="INFO"/>

        <root level="info">
            <appender-ref ref="info"/>
            <appender-ref ref="warn"/>
            <appender-ref ref="error"/>
        </root>
    </springProfile>


</configuration>
