<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <springProfile name="local">
        <include resource="org/springframework/boot/logging/logback/base.xml"/>
    </springProfile>

    <springProfile name="prod">
        <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
        <property name="LOG_PATH" value="./kiworkshop/spring"/>

        <include resource="logback/info-appender.xml"/>
        <include resource="logback/warn-appender.xml"/>
        <include resource="logback/error-appender.xml"/>

        <logger name="com.ming.kiworkshoptest" level="TRACE"/>

        <root level="INFO">
            <appender-ref ref="async-info"/>
            <appender-ref ref="async-warn"/>
            <appender-ref ref="async-error"/>
        </root>
    </springProfile>

</configuration>
